services:
  waha:
    image: devlikeapro/waha-plus:latest
    container_name: waha-api
    platform: linux/amd64
    ports:
      - "3000:3000"
    environment:
      - WAHA_LOG_LEVEL=info
      - WAHA_SWAGGER_ENABLED=true
      - WHATSAPP_SWAGGER_USERNAME=admin
      - WHATSAPP_SWAGGER_PASSWORD=admin123
      - WAHA_DASHBOARD_USERNAME=admin
      - WAHA_DASHBOARD_PASSWORD=admin123
      - WAHA_API_KEY=a87aa01beacf47c4b55fa8462cfc97f8
      - WHATSAPP_DEFAULT_ENGINE=NOWEB
    volumes:
      - waha-sessions:/app/.sessions
    restart: unless-stopped
    networks:
      - waha-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/version"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  waha-sessions:
    driver: local

networks:
  waha-network:
    driver: bridge
